body {
    background-image: url("trees.jpg");
    background-size: cover;
    height: 100vh;
    font-family: Roboto,'Segoe UI', BlinkMacSystemFont, -apple-system, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    color: whitesmoke;
    text-shadow: 2px 2px 12px black;
    display: flex;
    align-items: center;
    font-size: 1.2em;
}

.container {
    max-width: 80%;
    margin: auto;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 3px solid #B5AF8F;
}

#increment-btn {
    background: #606442;
}

#save-btn {
    background: #2F3319;
}

